 <input type="checkbox" id="check">
  <label for="check">
    <i class="fa fa-list-ul" id="btn"></i>
    <i class="fa fa-close" id="cancel"></i>
  </label>
  {{#if adminLogin}}
<div class="sidebar">
<ul>
  <li><a href="/admin">Home</a></li>
  <li><a href="/admin/profile">Profile</a></li>
  <li><a href="/admin/students">Students</a></li>
  <li><a href="/admin/attendance">Attedance</a></li>
  <li><a href="/admin/assignments">Assignment</a></li>
  <li><a href="/admin/notes">Notes</a></li>
  <li><a href="">Announcement</a></li>
  <li><a href="">Events</a></li>
  <li><a href="">Photos</a></li>
</ul>

</div>
{{else}}
<div class="sidebar">
<ul>
  <li><a href="/admin">Home</a></li>
  <li><a href="/admin/profile">Profile</a></li>
  <li><a href="/todayTask">Today's task</a></li>
  <li><a href="">Attedance</a></li>
  <li><a href="/admin/assignments">Assignment</a></li>
  <li><a href="/notes">Notes</a></li>
  <li><a href="">Announcements</a></li>
  <li><a href="">Galary</a></li>
  <li><a href="">--</a></li>
</ul>

</div>

{{/if}}