 <input type="checkbox" id="check">
  <label for="check">
    <i class="fa fa-list-ul" id="btn"></i>
    <i class="fa fa-close" id="cancel"></i>
  </label>
  {{#if adminLogin}}
<div class="sidebar">
<ul>
  <li><a href="/admin">Home</a></li>
  <li><a href="/admin/profile">Profile</a></li>
  <li><a href="/admin/students">Students</a></li>
  <li><a href="/admin/attendance">Attedance</a></li>
  <li><a href="/admin/assignments">Assignment</a></li>
  <li><a href="/admin/notes">Notes</a></li>
  <li><a href="/admin/announcement">Announcement</a></li>
  <li><a href="/admin/events">Events</a></li>
  <li><a href="/admin/photos">Photos</a></li>
  <li><a href="/admin/fee">Fee</a></li>
</ul>

</div>
{{else}}
<div class="sidebar">
<ul>
  <li><a href="/login">Home</a></li>
  <li><a href="">Profile</a></li>
  <li><a href="/todayTask">Today's task</a></li>
  <li><a href="/attendance">Attedance</a></li>
  <li><a href="/assignments">Assignment</a></li>
  <li><a href="/notes">Notes</a></li>
  <li><a href="/announcements">Announcements</a></li>
  <li><a href="/gallery">Gallery</a></li>
  <li><a href="/events">Events</a></li>
</ul>

</div>

{{/if}}