<section class="landingpage">
<div class="container">
    <div class="row col-md-12">
       <a href="/admin"> <div class="col-md-6-sm-12 tutorselection">
            <img src="/images/tutor.jpeg" alt="">
            <h1>TUTOR</h1>
        </div></a>
        <a href="/login"><div class="col-md-6-sm-12 studentselection">
            <img src="/images/student.jpg" alt="">
            <h1>STUDENT</h1>
        </div></a>

    </div>
</div>
</section>
