<section style="height 100vh">
    <div style=" background: url(/images/loginsecbg.jpeg); background-size:cover;  height: 100vh;">
    <div class="container">
        <div class="loginbg">
            <div class="logincard">
                <div class="circlebg"></div>
                <div class="loginform">
                        <form class="stdLoginForm" id="stdloginForm" action="" method="post" >
                        <input type="number" maxlength="10" placeholder="Mobile-No" minlength="10" name="Mobile" ><br>
                        <input type="password" name="Password" placeholder="Password"><br>
                        <i onclick="showoptions()" class="fa fa-gear fa-spin" style="font-size:24px"></i>
                        <div class="passwordoptions1">
                            <p onclick="creatPassWordForm()">create NEW</p>
                            <p>Forgot password</p>
                        </div>
                        <button style="transition: 1s ; background-color: rgba(246, 126, 83, 0.835);" class="btn " type="submit">Login</button>
                        </form>
                        <form action="" id="MobileCheck" class="stdCreatePassword1">
                            <i onclick="backToLogin()" class="fa fa-times-circle"></i>
                            <input type="number" id="Mob_no" name="Mobile"  placeholder="Mobile-No" ><br>
                            <button type="submit" class="btn btn-primary">Send OTP</button>
                            <p class="errorh21" style="color: red;">Cannot Find This Number</p>
                        </form>
                        <form id="stdOtp" class="stdOtp1" action="">
                            <p class="errotp1">Incorrect OTP</p>
                            <input type="number" name="OTP" placeholder="OTP">
                            <button class="btn btn-primary">Sumbit</button>
                        </form>

                </div>
            </div>
        </div>
    </div>
    </div>
</section>