<section>
    <div style="background-color: rgb(243, 242, 242);" class="container">
        <h1 class="successHead">Transaction Successful!</h1>
        <img class="successimg" src="/images/verifyedtic.png" alt="" >
        <div class="successDetails">
            <h3>Amount</h3><h5>{{rep.Amount}}</h5>
            <h3>Payment_Method</h3><h5>{{rep.Method}}</h5>
            <h3>Transaction_id</h3><h5>{{rep.Trn_id}}</h5>
            <h3>Date</h3><h5>{{rep.Date}}</h5>
            <a href="/logintrue" class="btn btn-secondary">..Back To HOME..</a>
        </div>
    </div>
</section>