<section style="height: 100%;">
    <div style="height: 80vh;">
        <div class=" Notesboard col-md-12">
            <h1>Notes</h1>
            <input type="search" name="search" placeholder="Search Topics..." id="noteSearch">
            <div class="notes row">
                {{#each notes}}
                <div class="note col-md-3">
                    <i class="fa fa-book"></i> 
                   <h3>{{this.Name}}</h3>
                   <p><a href="/viewNote?id={{this._id}}">Pdf</a> <a href="/downloadNote?id={{this._id}}"><i class="fa fa-download"></i></a></p>
                    <a href="">Video <i class="	fa fa-eye"></i></a>
                    <p>Date:{{this.Date}}</p>
                </div>
                {{/each}}
                
            </div>
            
        </div>
    </div>

</section>