<section style="background: url(/images/std-homebg.jpg); background-size: cover; height:99vh; margin-top: -37px; ">
   <div class="std-homebg">
       <div onclick="openAnn()" class="annbtn">
          <p>Announcements</p>
          <button onclick="closeAnn()"  class="closeannbtn1"><i  class='fa fa-angle-double-up'></i></button>
          <div class="anncontnt1">
              <ul>
                  <li>
                      helllosafsdfffffff
                  </li>
                  <li>
                      helllosdfsafa
                  </li>
                  <li>
                      helllosdfsd
                  </li>
                  <li>
                      helllosdfsaf
                  </li>
                  <li>
                      helllosdfsd
                  </li>
                  <li>
                      helllosdfsdf
                  </li>
                  <li>
                      helllosdfsdf
                  </li>
                  <li>
                      helllodsfsdfsd
                  </li>


              </ul>

          </div>
       </div>
   </div>
</section>