<section>
<div class="container">
<div class="taskbg">
    <h1>Today Tasks</h1>
    <div class="asstask">
        <h5>Assignment</h5>
        <div>
            <p>Topic</p>
            <button>View/Download</button>
            <form action="" enctype="multipart/form-data">
                <input type="file" name="Assignment">
                <button type="submit">Submit</button>
            </form>
            
        </div>
    </div>
    <div class="notetask">
        <h5>Note</h5>
            <div>
                 <video src="/notes/5fd1f147e03705fe5bf835d4.mp4" controls autoplay></video>
                 <p>Topic</p>
                 <a href="">pdf</a>
                 <button>View/Download</button>
            </div>
    </div>
</div>
</div>

</section>