*{
  margin: 0;
  list-style: none;
  text-decoration: none;
padding: 0;
}


.adminloginform{
  background:url(/images/classroom2.jpg);
  background-size: cover;
  position: relative;
  height: 90vh;
  margin: auto;
  width: 60%;
  text-align: center;
  border-radius: 20px;
  margin-top: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 5px 5px rgba(177, 174, 174, 0.4);
}

.adminloginform>form{
  z-index: 1;
  display: flex;
  flex-direction: column;
  margin-top: 130px;
}
.adminloginform>form>input{
  width: 50%;
  margin: auto;
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
}
.adminloginform>form>button{
  z-index: 1;
  width: 150px;
  margin: auto;
  border-radius: 10px;
}
.adminloginform>form>legend{
  background:linear-gradient(to left,rgb(112,101,214),rgb(230,106,213));
  font-size: 3rem;
  font-weight: 900;
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
  display: inline;

}

.adminloginform>form>input:hover{
  border-radius: 20px;
  width: 250px;
  transition-duration: 1s;
}
.adminloginform>form>input:focus{
  outline: 0;
  border-radius: 20px;
  width: 250px;
}
.adminloginform>form>button:focus{
  outline: 0;
}
.adminloginform>form>button:hover{
  background-color:skyblue;
}
.Navbar{
  display: flex;
  background-color: rgb(9, 19, 49);
  height: 60px;
  align-items: center;
  padding: 20px 3%;
  justify-content: space-between;
  width: 100%;
}
.navText{
  
  margin-top: 4px;
  display: inline-block;
  color: azure;
  list-style: none;
  font-size: 1.8rem;
  
}

.NavbarLogout{
 
  display: inline-block;
  list-style: none;
  justify-self: end;
}
.NavbarLogout>a>button{
  border-radius: 30px;
  background-color: red;
  border: none;
  color: white;
  height: 50px;
  margin-top: 3px;
  width: 90px;

}
.NavbarLogout>a>button:hover{
  background-color: teal;
}
.NavbarLogout>a>button:focus{
  outline: 0;
}


.sidebar{
  margin-top: -39px;
  position: fixed;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: teal;
  transition: all .5s ease;
  z-index: 1;
}
.sidebar ul a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 60px;
  font-size: 20px;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  border-top: 1px solid rgba(255,255,255,.1);
  border-top: 1px solid black;
  text-decoration: none;
  transition: .4s;
}
.sidebar ul a:hover{
  padding-left: 50px;
}
#check{
  display: none;
}
label #btn,label #cancel{
  position: absolute;
  cursor: pointer;
  background-color: #042331;
  border-radius: 3px;
}
label #btn{
  left: 20px;
  top: 70px;
  font-size: 28px;
  color: white;
padding: 6px 12px;
transition: all .5s;
z-index: 1;
}
label #cancel{
  position: fixed;
  z-index: 1111;
 left: -195px;
 top: 65px;
 font-size: 25px;
 color: #0a5275;
 padding: 4px 9px;
 transition: all .5s ease;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  left: 250px;
  opacity: 0;
  pointer-events: none;

}
#check:checked ~ label #cancel{
  left: 208px;
  

}
.tutorhomeimg{
  margin-top: -38px;
  height: 60vh;
  width: 100vw;
  z-index: -1;
}
.tutorannouncement{
  position: absolute;
  height: 40vh;
  width: 45%;
  z-index: 0;
  margin-top: -100px;
  margin-left: 25px;
  background-color: rgb(250, 250, 250);
  border-radius: 20px;
  overflow-y: scroll;
}
.tutorannouncement::-webkit-scrollbar,.tutorevents::-webkit-scrollbar{
  display: none;
}
.tutorevents{
  position: absolute;
  height: 40vh;
  width: 45%;
  z-index: 0;
  margin-top: -100px;
  margin-left: 51%;
  border-radius: 20px;
  background-color: rgb(251, 251, 251);
  overflow-y: scroll;
}
.tutorannouncement>h1{
  text-align: center;
  text-decoration: underline;
  font-size: 2rem;
}
.tutorevents>h1{
  text-align: center;
  text-decoration: underline;
  font-size: 2rem;

}
.landingpage{
  background:url(/images/classroom2.jpg);
  background-size: cover;
  height: 100%;
  min-height: 100vh;

}
.tutorselection>img,.studentselection>img{
  height: 40vh;
  width: 40vw;
  border-radius: 50%;
  margin-top: 35%;
  padding: 0px 10px;
  margin-left: 20px;
}
.tutorselection>h1,.studentselection>h1{
  color: rgb(227, 243, 137);
  text-align: center;
  font-size: 2.9rem;
  font-weight: 900;
  
}
.tutorselection>h1:hover,.studentselection>h1:hover{
color: red;
}
.backtohome{
position: absolute;
left: 30px;
top: 30px;
}
.backtohome>a>i{
  font-size: 2rem;
}
.edittutorprofile{
  margin: auto;
  padding: 20px;
  background-color: rgb(130, 204, 246);
  margin-top: 25px;
  border-radius: 20px;
  text-align: center;
  align-items: center;
}
.edittutorprofile>div>button{
  border-radius: 10px;
  border: none;
  box-shadow: 0px 0px 3px 4px rgba(0, 0, 0, 0.2);
  margin: 0 15px;
}
.edittutorprofile>div{
  margin: 15px 0;
  border: 2px solid rgb(0, 0, 0);
  text-align: center;

}
.profilebg{
  display: flex;
position: relative;
  height: 75vh;
  margin: auto;
  top: 60px;
  background-color: rgb(161, 125, 125);
  opacity: 0.6;
  border-radius: 30px;

}
.profilecard{
  
  height: 70vh;
  width: 450px;
  margin-top: 15px;
  border-radius: 20px;
  opacity: 1;
  background-color: white;
  text-align: center;
}
.profilecard>img{
  height: 30vh;
  width: 20vw;

}
.myprofilecard{
  height: 40vh;
  padding-top: 10px;
}
.myprofilecard>h2{
font-size: 1.4rem;
text-align: left;
margin:25px;
margin-left: 100px;
font-weight: bold;  
background:linear-gradient(to left, rgb(240, 89, 89), rgb(54, 187, 248));
  -webkit-background-clip: text;
-webkit-text-fill-color:transparent;
transition: all 1s ease-in;
}
.myprofilecard>h1{
  font-size: 1.8rem;
  font-weight: bolder;
  text-decoration: underline;
  background:linear-gradient(to left, rgb(240, 89, 89), rgb(54, 187, 248));
  -webkit-background-clip: text;
  margin-left: -150px;
  -webkit-text-fill-color:transparent;
  display: inline;

  
}
.myadrsscard{
  position: absolute;
  top: 25px;
 left: 500px;
  height: 40vh;
  width: 55vh;
  background-color: white;
  border-radius: 20px;
  overflow-y: scroll;
}
.myadrsscard::-webkit-scrollbar{
  display: none;
}
.myadrsscard>h2{
  text-align: left;
  font-size: 1.3rem;
  font-weight: bold;
  margin-left: 40px;
  margin-top: 18px;
  background: linear-gradient(to left ,red,black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.myadrsscard>h1{
  font-size: 1.7rem;
  font-weight: bolder;
  margin-top: 15px;
}
.profileeditcard{
  
  position: absolute;
  top: 300px;
  right: 150px;
  width: 20vw;
  height: 20vh;
  background: linear-gradient(to left,rgba(255, 0, 0, 0.637),rgba(0, 0, 0, 0.89));
  border-radius: 20px;
  
}
.profileeditcard>h1{
  background: linear-gradient(to left,rgb(45, 206, 255),rgb(255, 244, 238));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 
  font-size: 1.7rem ;
  font-weight: bolder;
  margin-top: 15px;
}
.addProfile{
  margin: auto;

}
.addProfile>a{
  
  height: 9vh; 
  width: 13vw;
}
.editconfirm{

  position: absolute;
  z-index: 11111;
  min-height: 30vh;
  max-height: 100%;
  width: 40vw;
  top: 40%;
  left: 28%;
  background-color: rgb(255, 254, 251);
  border-radius: 20px;
  text-align: center;
  border: 2px solid red;
  
}
.editconfirm>h1{
  margin-top: 20px;
  color: #0a5275;
}
.editconfirm>button{
  margin-top: 25px;
  margin: 25px 20px;
  height: 50px;
  width: 90px;
  border-radius: 10px;
  border: none;

}
.editconfirm1{
 display: none;
 position: absolute;
}
.editsuccess{
  position: absolute;
  background:linear-gradient(to left, skyblue,rgb(218, 168, 168));
  z-index: 11111;
  min-height: 30vh;
  max-height: 100%;
  width: 40vw;
  top: 40%;
  left: 28%;
  border-radius: 20px;
  border: 2px solid red;
  text-align: center;
  padding: 20px;

}
.editsuccess>h1{
  font-weight: 900;
}
.editsuccess>a{
  margin-top: 20px;
  width: 90px;
  text-align: center;
}
.editsuccess1{
  display: none;
}
.addstudentbg{
  width: 80%;
  height: 80vh;
  position: relative;
  margin: auto;
background-color: rgb(0, 0, 0);
top: 48px;
opacity: 0.7;
text-align: center;

}
.addstudentbg>form>legend{
  font-size: 2rem;
  color: aqua;
  font-weight: 900;
}
.addstudentbg>form>input{
  margin-top: 30px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid springgreen;
  background-color: transparent;
  width: 40%;
  color: red;
}
.addstudentbg>form>input::placeholder{
  
  color: rgba(128, 230, 230, 0.685);
  
}
.addstudentbg>form>input:focus{
  outline: 0;
}
.addstudentbg>form>h3{
  color: aqua;
  margin-left: -30%;
  font-size: 1.3rem;
  margin-top: 10px;
}
.addstudentbg>form>label{
  color: aqua;
  margin-left: -18%;
  padding-right:10px ;
}
#male,#female{
  display: none;
}
.gndr-dv{
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: rgb(170, 255, 72);
  top :160px;
  left: 0px;
  transition: .7s;
}
#female:checked ~ .gndr-dv{
  left: 290px;
}
#male:checked ~ .gndr-dv{
  left: 360px;
}
.addstudentbg>form>button , .addstudentbg>form>a{
  margin-top: 30px;
  background-color: transparent;
  width: 18%; 
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom:3px solid ;
  text-decoration: none;
  color: aqua;
}
.addstudentbg>form>a:hover{
  background-color: red;
}
.addstudentbg>form>button{
  border-bottom: 3px solid rgb(98, 235, 63);
}
.addstudentbg>form>a{
  border-bottom: 3px solid red;
}
.studentstablebg{
  position: relative;
  min-height: 90vh;
  max-height: 100%;
  width: 75vw;
  margin: auto;
  background-color: rgb(41, 40, 40) ;
  top: 30px;
  overflow-y: scroll;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
  padding: 9px; 
}
.studentstablebg::-webkit-scrollbar{
  display: none;
}
.studentstablebg>table{
  color: aliceblue;
}
.stdntactn>a{
border: none;
padding: 0px 10px;
margin-left: 5px;
border-radius: 20px;
}
.stdntactn>button{
  border: none;
  padding: 0px 10px;
  margin-left: 5px;
  border-radius: 20px;
  }
.stdntactn>a:focus{
  outline: 0;
}
.studnteditconfirm{
  position: fixed;
  background: linear-gradient(to left,rgb(240, 85, 85),skyblue);
  height: 30vh;
  width: 30vw;
  top: 200px;
  left: 35%;
  border-radius: 20px;
  border: 3px solid rgb(255, 0, 0);
  opacity: 1;
  transition: 1s;
}
.studnteditconfirm>h3{
  margin-top: 20px;
  font-weight: bolder;

}
.studnteditconfirm>button{
  margin-top: 30px;
  width: 70px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: green;  
}
.studnteditconfirm>a{
  height: 40px;
  text-align: center;
  margin-top:-1px;
}
.studnteditconfirm1{
  opacity: 0;
  pointer-events: none;
  user-select: none;

}
.assignmentForm{
  position: absolute;
  background-color: rgb(48, 48, 65);
  width: 300px;
  height: 45vh;
  left: 20px;
  text-align: center;
  padding: 20px;
  margin-top: 10%;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 5px rgba(0, 0, 0, 0.2);
  color: rgb(243, 110, 110);
  transition: 1s ease;
}
.assignmentForm:hover{
  box-shadow: 0px 0px 7px 7px rgba(255, 0, 0, 0.82);
}
.assignmentForm>form>i{
  position: absolute;
  margin-top: 20px;

}
.assignmentForm>form>h3{
  font-weight: bolder;
  background: linear-gradient(to left, red,skyblue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline;
}
.assignmentForm>form>input{
  margin-top: 10px;
  background-color: rgb(114, 98, 98);
  width: 210px;
  border-radius: 7px;
  border: none;
  overflow: hidden;
  
  
}
.assignmentForm>form>input:focus{
  outline: 0;
}
.assignmentForm>form>input::placeholder{
  color: rgb(176, 246, 85);
  text-align: center;
}
.videoNoteform{
  opacity: 1;
  transition:  .7s ease-in-out ;
  transition-property: opacity ;
  transition-delay: .2s;
}

.videoNoteform1{
  opacity: 0;
  margin-left: -900px;
  pointer-events: none;
  user-select: none;
}
.linkNoteform{
  opacity: 1;
  margin-top: -119px;
  transition: .7s ease-in-out;
  transition-property: opacity ;
  transition-delay: .2s;
  pointer-events: all;
}
.linkNoteform1{
  opacity: 0;
  margin-left: -900px;
}
.assignmentForm>form>button{
  
  margin-top: 9px;
  border-radius: 10px;
  border: none;
  width: 90px;
  box-shadow: 0px 0px 5px 5px rgba(240, 237, 237, 0.2);
  background-color: rgba(26, 56, 77, 0.89);
  color: skyblue;
  transition: 2s;
}
.assignmentForm>form>button:hover{
  background: linear-gradient(to left , skyblue,black);
  box-shadow: 0px 0px 5px 7px rgba(250, 37, 37, 0.2);
}
.assignmentTable{
  width: 80vh;
  position: absolute;
  background-color: darkgray;
  margin-top: 40px;
  margin-left: 39%;
  height: 60vh;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 0px 7px 7px rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
  transition: 2s ease;
}
.assignmentTable::-webkit-scrollbar{
  display: none;
}
.assignmentTable:hover{
  box-shadow: 0px 0px 7px 7px rgba(241, 4, 4, 0.6);
}
.assgnmtTable>button{
width: 30px;
border-radius: 5px;
}

.assignmentbg{
  background-color: rgba(255, 255, 255, 0.87);
  height: 80vh;
  top: 30px;
  position: relative;
  border-radius: 20px;
  box-shadow: 0px 0px 7px 7px rgba(77, 55, 55, 0.9);
}
.assignmentTable>h4{
text-align: center;
text-decoration: underline;
font-weight: 900;
}

.deltestudentcnfrm{
  z-index: 111;
  background-color: rgb(246, 243, 243);
  position: absolute;
  height: 30vh;
  width: 50vh;
  text-align: center;
  border-radius: 20px;
  border: 2px solid blue;
  padding: 30px;
  margin-left: 23%;
  margin-top: 20%;
  opacity: 1;
  transition: .5s;
}
.deltestudentcnfrm>h3{
  display: inline;
  transition: .5s;
  
}
.deltestudentcnfrm>h2{
  color: red;
  transition: .5s;
}
.deltestudentcnfrm>button, .deltestudentcnfrm>a{
  width:60px;
  height:40px;
  border: none;
  border-radius: 10px;
  transition: .5s;
}
.deltestudentcnfrm>button{
  background-color: green;
}
.deltestudentcnfrm1{
  height: 200px;
  width: 20px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  background-color: red;
  margin-top: 20%;
  margin-left: 68%;
  opacity: 0;
  user-select: none;
  pointer-events: none;
}
.studentremovedalert{
  padding: 5px;
  width: 50px;
  background-color: rgb(241, 220, 99);
  font-size: .9rem;
  color: rgb(250, 4, 4);
  border-radius: 3px;
  opacity: 1;
  transition:  1s;
}
.studentremovedalert1{
  width: 0px;
  height: 0px;
  opacity: 0;
user-select: none;
pointer-events: none;
}
.deleteassignmentcnfrm{
  position: fixed;
  z-index: 111;
  min-height: 20vh;
  min-width: 30vw;
  max-width: 100%;
  max-height: 100%;
  padding: 30px;
  background-color: rgb(180, 157, 175);
  text-align: center;
  border-radius: 10px;
  margin-left: 7%;
  margin-top: 50px;
  opacity: 1;
  transition: .5s;
  border: 2px solid red;
}
.deleteassignmentcnfrm>h3{
  font-weight: 500;

}
.deleteassignmentcnfrm>button, .deleteassignmentcnfrm>a{
  width: 60px;
}
.deleteassignmentcnfrm1{
  opacity: 0;
  display: none;
  user-select: none;
  pointer-events: none;
}
.loading{
  height: 100vh;
  width: 98vw;
  z-index: 1111111111;
  top: 0;
  left: 0;
  position: fixed;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 1111;
  background-color: rgb(0, 0, 0);
  
  opacity: 1;
  transition: opacity .9s ease;
}
.loading>img{
  margin-top: 20%;
  
}
.loading1{
  opacity: 0;
  display: none;
  pointer-events: none;
  user-select: none;
  height: 0px;
  
}
.loginbg{
  position: relative;
  text-align: center;
  height: 80vh;
  width: 85vw;
  margin: auto;
  top:50px;
  border-radius: 10px;
  
  box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.89);
  background:url(/images/studentloginbg.webp);
  
  background-position: left;
}
.logincard{
  position: absolute;
  height: 65vh;
  background-color: rgb(253, 253, 253);
  width: 30vw;
  left: 30%;
  top:6%;
  overflow: hidden;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.7);
}

.circlebg{
  background: url(/images/friendsbg.jpeg);
  background-size:cover;
  background-position: center;
  height: 50vh;
  width: 100%;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.3);
  transform: translateY(-50%);
}
.circlebg>h3{
  position: absolute;
  margin-top: 250px;
  margin-left: 111px;
  color: white;
  font-weight: bolder;
  font-size: 2rem;
  text-decoration:rgb(255, 166, 0) underline;
  
 

}
.loginuserIcon{
  position: absolute;
  margin-top: 285px;
  margin-left: 128px;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  text-align: center;
  border: 2px solid rgb(253, 7, 7);
  
}
.loginuserIcon>i{
  justify-self:center;
  margin: auto;  
  margin-top: 11px;
  font-size: 1.2rem;
}
.loginform{
  position: absolute;
  
  top:45%;
  left: 15%;
}
.stdLoginForm{
  display: flex;
  flex-direction: column;
  opacity: 1;
  transition:left 1s;
  width: 200px;
}
.loginform>form>i{
  position: absolute;
  margin-top: 54px;
  margin-left: 200px;
}
.passwordoptions{
  height:15vh;
  margin-top: -10px;
  background:linear-gradient(to left,skyblue,rgb(241, 117, 117));
  transition: all 1s;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
  
}
.passwordoptions>p{
  
  margin-top: -7px;
  opacity: 1;
  transition: 2.5s;
}
.passwordoptions>p:hover{
  text-decoration: underline;
  color: rgb(19, 185, 250);
}
.passwordoptions1{
  height: 0vh;
  opacity: 0;
  pointer-events: none;
  user-select: none;
}
.passwordoptions1>p{
  opacity: 0;
}

.stdLoginForm1{
  top: -200px;
  position: absolute;
  opacity: 0;
  
  pointer-events: none;
  user-select: none;
  transition: top .5s ease;

}
.stdCreatePassword{
  height: 30vh;
  width: 200px;
  display: flex;
  flex-direction: column;
  margin-top:20%;
  opacity: 1;
  transition: all .5s ease-in-out;
  
}
.stdCreatePassword>i{
  position: absolute;
  top: -50px;
  left: -10px;
  font-size: 1.6rem;
  border-radius: 50%;
  margin: auto;
  

}
.stdCreatePassword1{
  opacity: 0;
  
  user-select: none;
  pointer-events: none;
  transition: all .5s ease-in;
}
.stdOtp{
  display: flex;
  flex-direction: column;
  margin-top: -70px;
  height: 20vh;
  width: 200px;
  justify-content: space-between;
  opacity: 1;
  transition: 1s;
  
}
.stdOtp1{
  opacity: 0;
pointer-events: none;
user-select: none;
}
.errorh2{
  font-size: 1em;
  display: inline;
  opacity: 1;
  text-decoration: underline;
  transition: 2s ease-in;
}
.errorh21{
  opacity: 0;
  pointer-events: none;
  user-select: none;
}
.errotp{
  color: red;
  opacity: 1;
  font-size: 1.5em;
  transition: 1s;
}
.errotp1{
  opacity: 0;
  pointer-events: none;
  user-select: none;
}
.stdNewpassword{
  position: absolute;
  opacity: 1;
  margin-top: -70%;
  width: 230px;
  height: 20vh;
  margin-left: -5%;
  transition: .5s;
}

.stdNewpassword1{
  opacity: 0;
  pointer-events: none;
  
  user-select: none;
}
.matchingerr{
  color: red;
  font-size: .9rem;
  position: absolute;
  font-weight: 700;
  margin-top: -27px;
  margin-left: 15px;
  opacity: 1;
  transition: 1s ease-in;
}
.matchingerr1{
  opacity: 0;
  pointer-events: none;
  user-select: none;
 
}
.loginError{
  color: red;
  text-decoration: underline;
  transition-duration: 1s;
  opacity: 1;
}
.loginError1{
  opacity: 0;
  user-select: none;
  pointer-events: none;
  text-decoration: none;
}
.otpLogin{
  width: 200px;
  position: absolute;
  margin-top: -400px;
  height: 30vh;
  

}
.otpLogin>input{
  margin-top: 10px;
}
.otpLogin>button{
  position: absolute;

top: 210px;
}
.otp-mob-err{
  color: red;
}
.otp-mob-err1{
  opacity: 0;
  
}
.wait4otp{
  position: absolute;
  color: red;
  margin-top: -40px;
  margin-left:10px ;
  opacity: 1;
  transition: 1s;
}
.wait4otp1{
  opacity: 0;
  user-select: none;
  pointer-events: none;
}

.otp-Err{
  position: absolute;
  color: red;
  margin-top: 0px;
  margin-left: 10px;
  opacity: 1;
  transition: 1s;
}
.otp-Err1{
  opacity: 0;
  pointer-events: none;

}
.otpLogin>button{
  position: absolute;
  margin-top: -30px;
  margin-left: -26px;
}
.Notesboard{
  top: -38px;
  height: 99vh;
  margin: auto;
  background-color: rgb(114, 98, 98);
 
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}
.Notesboard>h1{
  font-size: 2.5rem;
  font-weight: bolder;
  background: linear-gradient(to left , rgb(192, 132, 241) , rgb(252, 187, 134));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}
.Notesboard>input{
  position: absolute;
  top:13px ;
  right: 25px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.623);
}
.notes{
  height: 75vh;
  width: 75vw;
  border: 3px solid black;
  justify-content: center;
  overflow-y: scroll;
  
  
}
.notes::-webkit-scrollbar{
  display: none;
}
.note{
  height: 165px;
  
  
  background-color: rgba(128, 230, 230, 0.685);
  text-align: center;
  border: 3px solid black;
  margin: 10px;
}
.note>i{
  position: absolute;
  left: 10px;
  top: 10px;
}
.note>p>a>i
{
  text-decoration: none;
  color:black;
  margin-left: 15px;
}
.note>h3{
  margin: auto;
  max-width: 140px;
  color:#ee3131;
 
 overflow-x:scroll ;
}
.note>h3::-webkit-scrollbar{
display: none;
}

.searchNotes{
  position: absolute;
  height: 75vh;
  width: 75vw;
  border: 3px solid black;
  justify-content: center;
  overflow-y: scroll;
  background-color: rgb(139, 216, 247);
  margin-top:55px ;
}
.searchNotes::-webkit-scrollbar{
  display: none;

}
.searchNotes1{
  display: none;
  pointer-events: none;
  user-select: none;
}
.searchwithdText{
  position: absolute;
  color:rgb(0, 0, 0);
  right: 40px;
  top: 35px;
  text-decoration: underline;
 
}

.searchwithdText:hover,.searchwithntext:hover{
  color: rgb(65, 206, 241);
}
.searchwithntext{
  position: absolute;
  color:rgb(0, 0, 0);
  right: 40px;
  top: 35px;
  text-decoration: underline;
}
.searchDate,.searchName{
  position: absolute;
  width:200px;
}
.searchDate:focus,.searchName:focus{
outline: 0;
}
.searchDate1,.searchwithntext1,.searchName1,.searchwithdText1{
  z-index: -111;
  display: none;
  user-select: none;
  pointer-events: none;
}
.searchLoad{
  position: absolute;
  left: 45%;
  top: 45%;
  
}
.searchLoad>i{
  font-size: 45px;
}
.searchLoad1{
  display: none;
  pointer-events: none;
  user-select: none;
}
.searchCancel{
  position: absolute;
  z-index: 1111;
  background-color: rgb(241, 77, 65);
  top: 10px;
  right: 10px;
  height: 23px;
  width: 23px;
  border-radius: 10px;
justify-content: center;
align-items: center;
text-align: center;

}
.searchCancel:hover{
  background-color:rgba(255, 0, 0, 0.5);
}
.atdTablebg{
position: relative;
  text-align: center;

height: 80vh;
}
.atdTablebg>input{
  position: absolute;
  top: 35px;
  right: 30px;
  border-radius:10px ;
  border: none;
  
}
.atdTablebg>input:focus{
  outline: 0;
}
.attdDate{
  position: absolute;
  left: 10px;
  top:50px;
}
.attendanceTable>table{
  
  
  border: 1px solid black;
}
.taskbg
{
  background-color: rgb(165, 160, 170);
  height: 80vh;
  width: 100vhw;
  position: relative;
  box-shadow: 0px 0px 3px 5px rgba(0, 0, 0, 0.5);
  display: flex;
}
.asstask{
  position: absolute;
  height: 50vh;
  width: 25vw;
  background-color: rgb(255, 255, 255);
  top: 20%;
  left: 15%;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0px 0px 10px 10px rgba(5, 0, 0, 0.37);
}
.asstask>h5,.notetask>h5{
text-decoration:3px solid rgb(221, 97, 97) underline;
font-size: 1.4rem;
font-weight: bold;
}
.asstask>div,.notetask>div{
  border: 2px solid black;
  border-radius: 10px;
  height: 40vh;
  width: 23vw;
  margin: auto;
  overflow-x: hidden;
  
}
.notetask>div::-webkit-scrollbar{
  display: none;
}
.asstask>div>p,.notetask>div>p{
  font-size: 1.2rem;
  font-weight: 800;
}
.asstask>div::-webkit-scrollbar{
  display: none;
}
.asstask>div>a{
  margin-top: 25px;
  background-color: skyblue;
  border: none;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 0px 0px 3px 5px solid rgba(0, 0, 0, 0.5);
  transition: all 1s ease-in;
}
.asstask>div>button:hover{
  background-color: rgb(24, 224, 228);

  border-radius: 5px;
}
.asstask>div>form{
  display: flex;
  flex-direction: column;
  height: 15vw;
  
}
.asstask>div>form>input{
  margin-top: 30px;
  margin: auto;
  width: 24vh;
  overflow-x: hidden;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2);

}
.asstask>div>form>button{
  margin-top: 10px;
  width: 24vh;
  margin: auto  ;
  border-radius: 10px;
  background-color: green;
  border: none;
  box-shadow: 0px 0px 3px 3px solid rgba(0, 0, 0, 0.2) ;
}
.notetask{
  position: absolute;
  height: 50vh;
  width: 25vw;
  background-color: rgb(255, 255, 255);
  top: 20%;
  right: 15%;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0px 0px 10px 10px rgba(5, 0, 0, 0.37);
}
.notetask>div>video{
  width: 23vw;
  height: 23vh;

}
.notetask>div>a{
  position: absolute;
  margin-top: -18px;
  margin-left: -15px;
}
.viewOrdwnload{
  position: absolute;
  bottom: 40px;
  background-color: skyblue;
  border: none;
  right: 60px;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 0px 0px 3px 5px solid rgba(0, 0, 0, 0.5);



}
.taskbg>h1{
  position: absolute;
  margin-left: 37%;
  font-weight: bolder;
  
  
  top: 20px;
  transition: all 1s ease-in;
  animation:color infinite;
  animation-duration: 3s;
}
@keyframes color{
  from{
    background: linear-gradient(to left,rgb(135, 36, 228),rgb(62, 119, 243));  
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline;
  }
  to{
    background: linear-gradient(to left,rgb(62, 119, 243),rgb(135, 36, 228));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline;
  }
}

.stdcardbg{
  height: 90vh;
  width: 90vw;
 position: relative;
}
.studentdetails{
  position: absolute;
  height: 80vh;
  width: 40vw;
  background: linear-gradient(to top,rgb(44, 152, 224),rgb(246, 246, 246));
  top:6%;
  border-radius: 10px;
  box-shadow: 0px 0px 9px 5px rgba(255, 253, 253, 0.5);
}
.studentdetails>img{
  margin-left: 90px;
  border: 1px solid black;
  opacity: 0.8;
}
.studentdetails>p{
  font-size: 1.5rem;
  margin-left: 100px;
  font-weight: 600;
  margin-top: 10px;
}
.studentattandance{
  position: absolute;
  height: 38vh;
  width: 35vw;
  background-color: rgb(255, 255, 255);
  top:6%;
  right: 6%;
  background: linear-gradient(to top,rgba(177, 86, 86, 0.986),skyblue);
  border-radius: 10px;
  box-shadow: 0px 0px 9px 5px rgba(255, 253, 253, 0.5);
  overflow-x: scroll;
}
.studentattandance>h4{
  margin-left: 120px;
  text-decoration:2px skyblue underline;
  font-weight: 700;
}
.studentassignments{
  position: absolute;
  height: 38vh;
  width: 35vw;
  background-color: rgb(255, 255, 255);
  bottom: 6%;
  right: 6%;
  background: linear-gradient(to top,rgb(180, 176, 176),rgba(177, 86, 86, 0.986));
  border-radius: 10px;
  box-shadow: 0px 0px 9px 5px rgba(255, 253, 253, 0.5);
  overflow-x: scroll;
}
.studentassignments::-webkit-scrollbar,.studentattandance::-webkit-scrollbar{
  display: none;

}
.studentassignments>h4{
  margin-left: 120px;
  text-decoration:2px skyblue underline;
  font-weight: 700;
}
.Assignmentmark>input{
  width: 50px;
  border-radius: 10px;
  border: none;
  text-align: center;
}
.Assignmentmark>input:focus{
  outline: 0;
}

.progress-bar{
  transition: width 1s ease-in-out;
}

.progress1{
  display: none;
}
.uploadedstatus{
  position: absolute;
  background-color: rgb(223, 81, 39);
  border-radius: 5px;
  width: 100px;
  height: 30px;
  top: 10%;
  left: 40px;
  animation: widthanimate ease-out;
  animation-duration: 2s;
  text-align: center;
  transition: 1s ease-in ;
  opacity: 0;
}
@keyframes widthanimate {
  from{
    width: 0px;
    opacity: 0;
  }
  to{
    width: 100px;
    opacity: 1;
  }
}
.uploadedstatus1{
  opacity: 0;
  user-select: none;
  pointer-events: none;
}
.ass-card{
  background-color: transparent;
  perspective: 1000px;
}
.ass-cardInner{
  position: relative;
  min-height: 200px;
  max-height: 100%;
  width: 200px;
  background-color: rgba(26, 24, 24, 0.966);
  margin-top: 20px;
  padding: 15px;
  transition: all .5s  ease-in;
  transform-style: preserve-3d;
}
.ass-cardInner:hover{
  border-bottom:3px solid skyblue;
    border-top: 3px solid red;  
}

.front-ass>h5{
  font-weight: 600;
  color: skyblue;
  margin-left: 10px;
  overflow-wrap: break-word;
  text-transform: uppercase;
  font-style:oblique;
}
.front-ass>p{
  color: white;
  margin-left: 15px;
}
.front-ass,.back-ass{
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  
}
.back-ass{
   transform: rotateY(180deg);
    color: white;
    height: 100%;
    width: 100%;
    
  }
.backload{
  position: absolute;
  color: white;
  margin-top: -50px;
  margin-left: 65px;
}
.backload1{
  display: none;
  pointer-events: none;
  user-select: none;
}
.closeback{
  position: absolute;
  margin-top: -100px;
  margin-left: 150px;
  background-color: red;
  z-index: 111;
  
}
.closeback:hover{
  background-color: rgb(246, 168, 168);
  color: black;
}
.datadetails{
  position: absolute;
  margin-top: -100px;
}
.ass-heading{
  margin-left: 35%;
  color: rgb(251, 251, 251);
  font-weight: bolder;
  text-decoration:rgb(231, 50, 50)  underline;
  font-style: italic;
  
}
.photo-upload-section{
  background-color: rgb(191, 230, 245);
  min-height: 60px;
  max-height: 100%;
  text-align: center;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.5);
  transition: 1s ease-in;
}
.photoHeading{
  margin-left: 45%;
  font-weight: bold;
  text-decoration:3px skyblue underline;

}
.photo-upload-section>form>input{
  border: 2px solid black;
  width: 150px;
  overflow: hidden;
  border-radius: 7px;
}
.photo-upload-section>form>button{
  height: 30px;

}
.gallery-section{
  margin-top: 30px;
}
.photoBack{
  margin-top: 20px;
  background-color: transparent;
  perspective: 1000px;
  box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  width: 250px;
  height: 250px;
}
.photoInner{
  position: relative;
  height: 100%;
  width: 100%;
  
  transform-style: preserve-3d;
}
.photo{
  transition:  .7s cubic-bezier(0.93,-1.4, 0, 2.74) ;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
  
}
.photo:hover{
  
  transform: rotateZ(7deg);
}
.photo>img{
height: 100%;
width: 100%;
border-radius: 5px;
}
.photo>p{
  position: absolute;
  margin-top: -30px;
  color: rgb(13, 207, 255);
  margin-left: 10px;
  font-weight: bold;
  text-decoration: underline;
  text-transform: uppercase;
}

.img-view>img{
height: 350px;

}
.img-view{
  margin: auto;
  margin-top: 20px;
  width: 400px;
}

.delete-photo{
  background-color: rgb(255, 255, 255);
  position:absolute;
  margin-top: -30px;
  margin-left:210px ;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  text-align: center;
  
}
.delete-photo:hover{
  background-color: cadetblue;
  color: red;
}

.photodelete{
  
position: fixed;

margin-left: 20%;
  width: 400px;
  background-color: rgb(141, 135, 197);
  z-index: 111;
  height: 100px;  
  text-align: center;
  padding-top: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.5);
}
.photodelete1{
  display: none;
  user-select: none;
  pointer-events: none;
}
.Imageback{
  background-color: transparent;
  perspective: 1000px;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.5);
  width: 250px;
  height: 250px; 
}
.imageinner{
  position: relative;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
}
.images{
  transition:  .93s cubic-bezier(0.93,-1.4, 0, 2.74) ;
  height: 100%;
  width: 100%;
  opacity: .6;
  margin-top: 30px;
  
}
.images>h4{
  position: absolute;
  top: 40%;
  left: 33%;
  font-size: 2.5rem;
  font-weight: bold;
  color: #a816fd;
  text-decoration: 2px underline;
  transition: .8s ease;
}
.images:hover.images>h4{
  top: 0%;
  left: 0%;
  font-size: 1.5rem;
  
}
.images:hover{
  transform: translateZ(100px);
  opacity: 1;
}
.gallery-heading{
  margin-left: 40%;
  font-weight: 800;
  text-decoration: underline;
}
.announcementBg{
  
  
  min-height: 99vh;
  max-height: 100%;
  width: 100%;
  background-color: rgb(0, 136, 255);
  margin-top: -34px;
  padding: 10px;
}
.announcementBg>h1{
  margin-left: 33%;
  font-weight: bolder;
  text-decoration:rgb(65, 53, 53) underline;
}
.announcementform{
 
  top: 10%;
  width: 100%;
}
.announcementform>form{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  border: 3px solid black;
  padding: 20px;
  overflow: hidden;
  
}
.announcementform>form>input{
  margin-top: 10px;
  margin-bottom: 10px;
}
.announcementform>form>input:focus{
  outline: 0;
}
.announcementform>form>label{
  
  margin-top: 10px;
}
.annSection{
  margin-top: 100px;
}
.anncardBack{
  background-color: transparent;
  width: 250px;
  height: 200px;
  margin-top: 20px;
  perspective: 1000px;
  
}
.annInner{
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}


.annFront, .annBack{
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  
}
.annFront::-webkit-scrollbar , .annBack::-webkit-scrollbar{
  display: none;
}
.annFront{
  background-color: #bbb;
  color: black;
  padding: 20px;
  z-index: 11;
  transition: .6s ease-in;
}
.annBack{
  background-color: #2980b9;
  color: white;
  text-align: left;
 z-index: 0;
}
.optionbtnAnn, .optioncnlAnn {
  position: fixed;

  left: 10px;
  top: 10px;
  height: 30px ;
  width: 30px;
  text-align: center;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.452);
  animation: rotate ease-in-out;
  animation-duration: .6s;
  transition: 1s ease;
}
@keyframes rotate{
  form{
    transform: rotate(0);
  }
  to{
    transform: rotate(360deg);
  }
}
.optionbtnAnn:focus,optioncnlAnn:focus{
  outline: 0;
}

.annFront>p{
  overflow-wrap: break-word;
}
.annFront>h4{
  text-transform: uppercase;
  text-decoration: underline;
}
.optionbtnAnn1, .optioncnlAnn1{
  position: fixed;
  display: none;
  user-select: none;
  pointer-events: none;
}

.anndelete{
  position: fixed;
top: 40%;
left: 30%;
  width: 400px;
  background-color: rgb(197, 155, 155);
  z-index: 111;
  height: 100px;  
  text-align: center;
  padding-top: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.5);
}
.anndelete1{
  display: none;
  user-select: none;
  pointer-events: none;

}
.annHeading{
  font-weight: bolder;
  text-decoration: underline;
  margin-left: 33%;
}

.std-homebg{
  height: 99vh;
  width: 100%;
  position: relative;
  background-color:rgba(0, 0, 0, 0.582);
}
.annbtn{
  position: absolute;
  background-color: cadetblue;
  top: 20px;
  right: 20px;
  border: none;
  border-radius: 30px;
  text-align: center;
  box-shadow: 0px 0px 3px 3px rgba(5, 141, 251, 0.5);
  padding: 5px;
  
}
.annbtn>p{
  margin-top: 13px;
}
.anncontnt{
  transition: all 1s ease-in;
height: 200px;
opacity: 1;
overflow-y: scroll;
overflow-wrap: break-word;
}
.anncontnt1{
  height: 0px;
  opacity: 0;
  user-select: none;
  pointer-events: none;
}
.anncontnt::-webkit-scrollbar{
  display: none;

}
.closeannbtn{
  border: none;
  width: 30px ;
  height: 30px;
  border-radius: 30px;
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.5);
  animation: rotate;
  animation-duration: 1s;
  z-index: 111;
}
.closeannbtn:focus{
  outline: none;
}
.closeannbtn1{
  display: none;
}








