*{
  margin: 0;
  list-style: none;
  text-decoration: none;
padding: 0;
}

.adminloginform{
  background:url(/images/classroom2.jpg);
  background-size: cover;
  position: relative;
  height: 90vh;
  margin: auto;
  width: 60%;
  text-align: center;
  border-radius: 20px;
  margin-top: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 5px 5px rgba(177, 174, 174, 0.4);
}

.adminloginform>form{
  z-index: 1;
  display: flex;
  flex-direction: column;
  margin-top: 130px;
}
.adminloginform>form>input{
  width: 50%;
  margin: auto;
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
}
.adminloginform>form>button{
  z-index: 1;
  width: 150px;
  margin: auto;
  border-radius: 10px;
}
.adminloginform>form>legend{
  background:linear-gradient(to left,rgb(112,101,214),rgb(230,106,213));
  font-size: 3rem;
  font-weight: 900;
  -webkit-background-clip: text;
  -webkit-text-fill-color:transparent;
  display: inline;

}

.adminloginform>form>input:hover{
  border-radius: 20px;
  width: 250px;
  transition-duration: 1s;
}
.adminloginform>form>input:focus{
  outline: 0;
  border-radius: 20px;
  width: 250px;
}
.adminloginform>form>button:focus{
  outline: 0;
}
.adminloginform>form>button:hover{
  background-color:skyblue;
}
.Navbar{
  display: flex;
  background-color: rgb(9, 19, 49);
  height: 60px;
  align-items: center;
  padding: 20px 3%;
  justify-content: space-between;
  width: 100%;
}
.navText{
  
  margin-top: 4px;
  display: inline-block;
  color: azure;
  list-style: none;
  font-size: 1.8rem;
  
}

.NavbarLogout{
 
  display: inline-block;
  list-style: none;
  justify-self: end;
}
.NavbarLogout>a>button{
  border-radius: 30px;
  background-color: red;
  border: none;
  color: white;
  height: 50px;
  margin-top: 3px;
  width: 90px;

}
.NavbarLogout>a>button:hover{
  background-color: teal;
}
.NavbarLogout>a>button:focus{
  outline: 0;
}


.sidebar{
  margin-top: -39px;
  position: fixed;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: teal;
  transition: all .5s ease;
  z-index: 1;
}
.sidebar ul a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 60px;
  font-size: 20px;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  border-top: 1px solid rgba(255,255,255,.1);
  border-top: 1px solid black;
  text-decoration: none;
  transition: .4s;
}
.sidebar ul a:hover{
  padding-left: 50px;
}
#check{
  display: none;
}
label #btn,label #cancel{
  position: absolute;
  cursor: pointer;
  background-color: #042331;
  border-radius: 3px;
}
label #btn{
  left: 20px;
  top: 70px;
  font-size: 28px;
  color: white;
padding: 6px 12px;
transition: all .5s;
z-index: 1;
}
label #cancel{
  position: fixed;
  z-index: 1111;
 left: -195px;
 top: 65px;
 font-size: 25px;
 color: #0a5275;
 padding: 4px 9px;
 transition: all .5s ease;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  left: 250px;
  opacity: 0;
  pointer-events: none;

}
#check:checked ~ label #cancel{
  left: 208px;
  

}
.tutorhomeimg{
  margin-top: -38px;
  height: 60vh;
  width: 100vw;
  z-index: -1;
}
.tutorannouncement{
  position: absolute;
  height: 40vh;
  width: 45%;
  z-index: 0;
  margin-top: -100px;
  margin-left: 25px;
  background-color: rgb(250, 250, 250);
  border-radius: 20px;
  overflow-y: scroll;
}
.tutorannouncement::-webkit-scrollbar,.tutorevents::-webkit-scrollbar{
  display: none;
}
.tutorevents{
  position: absolute;
  height: 40vh;
  width: 45%;
  z-index: 0;
  margin-top: -100px;
  margin-left: 51%;
  border-radius: 20px;
  background-color: rgb(251, 251, 251);
  overflow-y: scroll;
}
.tutorannouncement>h1{
  text-align: center;
  text-decoration: underline;
  font-size: 2rem;
}
.tutorevents>h1{
  text-align: center;
  text-decoration: underline;
  font-size: 2rem;

}
.landingpage{
  background:url(/images/classroom2.jpg);
  background-size: cover;
  height: 100%;
  min-height: 100vh;

}
.tutorselection>img,.studentselection>img{
  height: 40vh;
  width: 40vw;
  border-radius: 50%;
  margin-top: 35%;
  padding: 0px 10px;
  margin-left: 20px;
}
.tutorselection>h1,.studentselection>h1{
  color: rgb(227, 243, 137);
  text-align: center;
  font-size: 2.9rem;
  font-weight: 900;
  
}
.tutorselection>h1:hover,.studentselection>h1:hover{
color: red;
}
.backtohome{
position: absolute;
left: 30px;
top: 30px;
}
.backtohome>a>i{
  font-size: 2rem;
}
.edittutorprofile{
  margin: auto;
  padding: 20px;
  background-color: rgb(130, 204, 246);
  margin-top: 25px;
  border-radius: 20px;
  text-align: center;
  align-items: center;
}
.edittutorprofile>div>button{
  border-radius: 10px;
  border: none;
  box-shadow: 0px 0px 3px 4px rgba(0, 0, 0, 0.2);
  margin: 0 15px;
}
.edittutorprofile>div{
  margin: 15px 0;
  border: 2px solid rgb(0, 0, 0);
  text-align: center;

}
.profilebg{
  display: flex;
position: relative;
  height: 75vh;
  margin: auto;
  top: 60px;
  background-color: rgb(161, 125, 125);
  opacity: 0.6;
  border-radius: 30px;

}
.profilecard{
  
  height: 70vh;
  width: 450px;
  margin-top: 15px;
  border-radius: 20px;
  opacity: 1;
  background-color: white;
  text-align: center;
}
.profilecard>img{
  height: 30vh;
  width: 20vw;

}
.myprofilecard{
  height: 40vh;
  padding-top: 10px;
}
.myprofilecard>h2{
font-size: 1.4rem;
text-align: left;
margin:25px;
margin-left: 100px;
font-weight: bold;  
background:linear-gradient(to left, rgb(240, 89, 89), rgb(54, 187, 248));
  -webkit-background-clip: text;
-webkit-text-fill-color:transparent;
transition: all 1s ease-in;
}
.myprofilecard>h1{
  font-size: 1.8rem;
  font-weight: bolder;
  text-decoration: underline;
  background:linear-gradient(to left, rgb(240, 89, 89), rgb(54, 187, 248));
  -webkit-background-clip: text;
  margin-left: -150px;
  -webkit-text-fill-color:transparent;
  display: inline;

  
}
.myadrsscard{
  position: absolute;
  top: 25px;
 left: 500px;
  height: 40vh;
  width: 55vh;
  background-color: white;
  border-radius: 20px;
  overflow-y: scroll;
}
.myadrsscard::-webkit-scrollbar{
  display: none;
}
.myadrsscard>h2{
  text-align: left;
  font-size: 1.3rem;
  font-weight: bold;
  margin-left: 40px;
  margin-top: 18px;
  background: linear-gradient(to left ,red,black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.myadrsscard>h1{
  font-size: 1.7rem;
  font-weight: bolder;
  margin-top: 15px;
}
.profileeditcard{
  
  position: absolute;
  top: 300px;
  right: 150px;
  width: 20vw;
  height: 20vh;
  background: linear-gradient(to left,rgba(255, 0, 0, 0.637),rgba(0, 0, 0, 0.89));
  border-radius: 20px;
  
}
.profileeditcard>h1{
  background: linear-gradient(to left,rgb(45, 206, 255),rgb(255, 244, 238));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 
  font-size: 1.7rem ;
  font-weight: bolder;
  margin-top: 15px;
}
.addProfile{
  margin: auto;

}
.addProfile>a{
  
  height: 9vh; 
  width: 13vw;
}
.editconfirm{

  position: absolute;
  z-index: 11111;
  min-height: 30vh;
  max-height: 100%;
  width: 40vw;
  top: 40%;
  left: 28%;
  background-color: rgb(255, 254, 251);
  border-radius: 20px;
  text-align: center;
  border: 2px solid red;
  
}
.editconfirm>h1{
  margin-top: 20px;
  color: #0a5275;
}
.editconfirm>button{
  margin-top: 25px;
  margin: 25px 20px;
  height: 50px;
  width: 90px;
  border-radius: 10px;
  border: none;

}
.editconfirm1{
 display: none;
 position: absolute;
}
.editsuccess{
  position: absolute;
  background:linear-gradient(to left, skyblue,rgb(218, 168, 168));
  z-index: 11111;
  min-height: 30vh;
  max-height: 100%;
  width: 40vw;
  top: 40%;
  left: 28%;
  border-radius: 20px;
  border: 2px solid red;
  text-align: center;
  padding: 20px;

}
.editsuccess>h1{
  font-weight: 900;
}
.editsuccess>a{
  margin-top: 20px;
  width: 90px;
  text-align: center;
}
.editsuccess1{
  display: none;
}
.addstudentbg{
  width: 80%;
  height: 80vh;
  position: relative;
  margin: auto;
background-color: rgb(0, 0, 0);
top: 48px;
opacity: 0.7;
text-align: center;

}
.addstudentbg>form>legend{
  font-size: 2rem;
  color: aqua;
  font-weight: 900;
}
.addstudentbg>form>input{
  margin-top: 30px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid springgreen;
  background-color: transparent;
  width: 40%;
  color: red;
}
.addstudentbg>form>input::placeholder{
  
  color: rgba(128, 230, 230, 0.685);
  
}
.addstudentbg>form>input:focus{
  outline: 0;
}
.addstudentbg>form>h3{
  color: aqua;
  margin-left: -30%;
  font-size: 1.3rem;
  margin-top: 10px;
}
.addstudentbg>form>label{
  color: aqua;
  margin-left: -18%;
  padding-right:10px ;
}
#male,#female{
  display: none;
}
.gndr-dv{
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: rgb(170, 255, 72);
  top :160px;
  left: 0px;
  transition: .7s;
}
#female:checked ~ .gndr-dv{
  left: 290px;
}
#male:checked ~ .gndr-dv{
  left: 360px;
}
.addstudentbg>form>button , .addstudentbg>form>a{
  margin-top: 30px;
  background-color: transparent;
  width: 18%; 
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom:3px solid ;
  text-decoration: none;
  color: aqua;
}
.addstudentbg>form>a:hover{
  background-color: red;
}
.addstudentbg>form>button{
  border-bottom: 3px solid rgb(98, 235, 63);
}
.addstudentbg>form>a{
  border-bottom: 3px solid red;
}
.studentstablebg{
  position: relative;
  min-height: 90vh;
  max-height: 100%;
  width: 75vw;
  margin: auto;
  background-color: rgb(41, 40, 40) ;
  top: 30px;
  overflow-y: scroll;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
  padding: 9px; 
}
.studentstablebg::-webkit-scrollbar{
  display: none;
}
.studentstablebg>table{
  color: aliceblue;
}
.stdntactn>a{
border: none;
padding: 0px 10px;
margin-left: 5px;
border-radius: 20px;
}
.stdntactn>button{
  border: none;
  padding: 0px 10px;
  margin-left: 5px;
  border-radius: 20px;
  }
.stdntactn>a:focus{
  outline: 0;
}
.studnteditconfirm{
  position: fixed;
  background: linear-gradient(to left,rgb(240, 85, 85),skyblue);
  height: 30vh;
  width: 30vw;
  top: 200px;
  left: 35%;
  border-radius: 20px;
  border: 3px solid rgb(255, 0, 0);
  opacity: 1;
  transition: 1s;
}
.studnteditconfirm>h3{
  margin-top: 20px;
  font-weight: bolder;

}
.studnteditconfirm>button{
  margin-top: 30px;
  width: 70px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: green;  
}
.studnteditconfirm>a{
  height: 40px;
  text-align: center;
  margin-top:-1px;
}
.studnteditconfirm1{
  opacity: 0;
  pointer-events: none;
  user-select: none;

}
.assignmentForm{
  background-color: rgb(48, 48, 65);
  width: 300px;
  height: 30vh;
  text-align: center;
  padding: 20px;
  margin-top: 10%;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 5px rgba(0, 0, 0, 0.2);
  color: rgb(243, 110, 110);
  transition: 1s ease;
}
.assignmentForm:hover{
  box-shadow: 0px 0px 7px 7px rgba(255, 0, 0, 0.82);
}
.assignmentForm>form>h3{
  font-weight: bolder;
  background: linear-gradient(to left, red,skyblue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline;
}
.assignmentForm>form>input{
  margin-top: 10px;
  background-color: rgb(114, 98, 98);
  width: 210px;
  border-radius: 7px;
  border: none;
  
}
.assignmentForm>form>input:focus{
  outline: 0;
}
.assignmentForm>form>input::placeholder{
  color: rgb(176, 246, 85);
  text-align: center;
}
.assignmentForm>form>button{
  margin-top: 9px;
  border-radius: 10px;
  border: none;
  width: 90px;
  box-shadow: 0px 0px 5px 5px rgba(240, 237, 237, 0.2);
  background-color: rgba(26, 56, 77, 0.89);
  color: skyblue;
  transition: 2s;
}
.assignmentForm>form>button:hover{
  background: linear-gradient(to left , skyblue,black);
  box-shadow: 0px 0px 5px 7px rgba(250, 37, 37, 0.2);
}
.assignmentTable{
  width: 80vh;
  position: absolute;
  background-color: darkgray;
  margin-top: -20%;
  margin-left: 37%;
  height: 60vh;
  border-radius: 20px;
  box-shadow: 0px 0px 7px 7px rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
  transition: 2s ease;
}
.assignmentTable::-webkit-scrollbar{
  display: none;
}
.assignmentTable:hover{
  box-shadow: 0px 0px 7px 7px rgba(241, 4, 4, 0.6);
}
.assgnmtTable>button{
width: 30px;
border-radius: 5px;
}