<section style=" margin-top:-40px;background:url(/images/addstudentBG1.jpg); background-size: cover; height: 100vh;">
<div class="container">
<div class="addstudentbg">
    <form action="" id="addstudentform">
        <legend>ADD</legend>
        <input type="text" name="Name" placeholder="Name"> <br>
          <h3>Gender</h3>
          <input class="form-check-input" type="radio" name="Gender" id="male" value="Male" checked>
          <label class="form-check-label" id="maleLab"  for="male">
            Male
          </label>
           <input class="form-check-input" type="radio" name="Gender" id="female" value="Female">
           <label class="form-check-label" id="femaleLab" for="female">
            Female
          </label><br>
          <input type="number" name="Roll-No" placeholder="Roll-No"><br>
            <input type="number" name="Mobile" placeholder="Mobile"><br>
            <input type="Email" name="Email" placeholder="Email"><br>
            <input type="textarea" name="Address" placeholder="Address"><br>
            <div class="gndr-dv"></div>
            <button class="btn btn-success">Save</button> <a  class="btn " href="/admin/students">Cancel</a>
    </form>
</div>
</div>


</section>