<section>
<div class="container">
    <div class="assignmentForm">       
<form action="/admin/assignment" method="post" enctype="multipart/form-data">
<h3>Add New </h3>
<input type="text" name="Name" placeholder="Topic Name"><br>
<input type="file" name="File"><br>
<button type="submit">upload</button>
</form>
</div>
<div class="assignmentTable">
<table class="table">
<thead>
    <tr>
        <th>Topic</th>
        <th>File</th>
        <th>Option</th>
    </tr>
</thead>
<tBody>
    <tr>
        <td>name</td>
        <td>name</td>
        <td class="assgnmtTable"><button class="btn-danger"><i class="fa fa-trash"></i></button></td>
    </tr>
</tBody>
</table>
</div>
</div>

</section>