<section>
 
<div class="tutorhomeimg">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="/images/classroom2.jpg" alt="">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/images/classroom2.jpg" alt="">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/images/classroom2.jpg" alt="">
    </div>
  </div>
</div>
</div>
<div class="tutorannouncement">
<h1>Announcements</h1>

<ul>
  {{#each announcement}}
  <li>
     <p> * <a style="text-transform: capitalize;" href="/admin/announcement-view?id={{this._id}}">{{this.Message}}</a></p>
  </li>
  {{/each}}
</ul>

</div>
<div class="tutorevents">
<h1>Events</h1>
<ul>
  {{#each events}}
  <li>
     <p> *  <a href="/admin/viewEvent?id={{this._id}}">{{this.Event}}</a>  {{#if this.Paid}}(Paid){{/if}}</p>
  </li>
  {{/each}}
</ul>
</div>
</section>

